#main {
    margin: auto;
    width: 100%;
    padding-top: 50px;
}
.top {
    display: flex;
    width: 100%;

}
.center {
    display: flex;
    width: 100%;
}
.bot {
    display: flex;
    width: 100%;
}
.store {
    height: 150px;
    font-size: 20px;
    border: indigo 4px dashed;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    width: 33%;
    border-radius: 15px;  
    color: purple;
    vertical-align: middle;
    

}
.store p {
    text-align: center;
    margin: 0;
}
.store div button{
    height:50px;
    width:150px;
    border-color: red;
    position: absolute;
    margin-top: 50px;
    margin: 0;
    border-radius: 12px;
    
    
}
.buy {
    font-size: 10mm;
}
.store .btn {
    position: absolute;
    margin-left: 80px;
    margin-top: 50px;
    display: none;
}
.top :hover  
    .btn {
        display: block;
    }
    .btn button {
        cursor: pointer;
    }
.center :hover  
    .btn {
        display: block;
    }
    .btn button {
        cursor: pointer;
    }
.bot :hover  
    .btn {
        display: block;
    }
    .btn button {
        cursor: pointer;
    }
#form {
    position: absolute;
    height: 200px;
    border:blue 2px solid;
    width: 33%;
    left: 33%;
    display: none;
    background-color: brown;
}
#form button {
    float: right;
    background-color: darkred;
}
#form button :hover {
    cursor: pointer;
}
#form button img {
    width: 30px;
    height: 30px;
    float: right;
}


