.main {
    margin: auto;
    width: 100%;
    padding-top: 50px;
}
.top {
    display: flex;
    width: 100%;
}
.center {
    display: flex;
    width: 100%;
}
.bot {
    display: flex;
    width: 100%;
}
.store {
    height: 150px;
    font-size: 20px;
    border: indigo 4px dashed;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    width: 33%;
    border-radius: 15px;  
    color: purple;
    vertical-align: middle;

}
.store p {
    text-align: center;
    margin: 0;
}
